
.abdiv1 {
    margin-top: 50px;
    background-color: whitesmoke;
    padding: 45px 100px;
}
.para {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
}

.contactbg{
    margin-top: 35px;
    background-image: url("https://cdn.vox-cdn.com/thumbor/jpzBd8gPQ8HHWFVekiTwjmLrceU=/0x0:902x507/1220x813/filters:focal(379x181:523x325):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/61181985/RagBoneVenice4_2014_09.0.0.0.1457970548.0.jpg");
    background-repeat: no-repeat;
    background-position-y: -200px ;
    background-size: cover;
    height: 500px;
}

.conbox {
    width: 60%;
    margin: auto;
    margin-top: -300px;
    height: 750px;
    background-color: white;
    border-radius: 10px;
    padding : 70px 100px ;
}

.faq{
    background-image: url("https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG9mZmljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px);
}

.footabout {
    margin-top: -500px;;
}

.beltgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 25px;
}